@page "/"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims
@using Shared.Auth

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>      
        <p>Hello, @context.User.Identity!.Name</p>
        <p>Short description of auth demo app idea:</p>
        <p><a href="">Home</a> page uses basic authorization without roles/permissions</p>
        <p><a href="user">User</a> and <a href="weather">Weather</a> pages use policy requiring permissions as authorization (PBAC)</p>
        <p><a href="user/info">User info</a> page uses roles as authorization (RBAC)</p>
        <p>Your authorization roles:</p>
        <ul>
            @foreach (Claim role in context.User.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Role))
            {
                <li>@role.Value</li>
            }
        </ul>
        <p>Your authorization permissions:</p>
        <ul>
            @foreach (Claim permission in context.User.Claims.Where(c => c.Type == ClaimConstants.Permissions))
            {
                <li>@permission.Value</li>
            }
        </ul>    
    </Authorized>
</AuthorizeView>