@page "/user"
@using Microsoft.AspNetCore.Authorization
@using Shared.Auth
@inject HttpClient Http
@attribute [Authorize(Policy = PolicyConstants.GetUser)]

<PageTitle>User</PageTitle>

<h2>List of all users</h2>
@if (Users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Shared.UserApi.User[]? Users { get; set; }

    protected override async Task OnInitializedAsync()
        => Users = await Http.GetFromJsonAsync<Shared.UserApi.User[]>("user-api/user/all"); 
}
